.content{
  font-size: 0;
  width: 980px;
  margin: auto;
  padding: 53px 0 120px 0;
  .title{
    font-weight: bolder;
    margin-bottom: 78px;
    font-size: 32px;
    line-height: 32px;
    color: #333;
    margin-left: -88px;
  }
  .outside{
    position: relative;
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: solid 1px rgba(4, 190, 131, 1);
    margin-right: 269px;
    i{
      font-style: italic;
    }
    &.active{
      background-color: rgba(4, 190, 131, 1);
    }
    &:nth-child(5){
      margin-right: 0;
    }
    &:nth-child(2){
      margin-left: 43px;
    }
    &:after{
      content: '';
      width: 258px;
      position: absolute;
      border-bottom: 1px dashed #e5e5e5;
      left: 35px;
      top: 14px;
    }
    &:nth-child(5):after{
      content: '';
      width: 0;
    }

    &.active .inside{
      color: #ffffff;
    }

    .inside{
      font-size: 22px;
      font-weight: bolder;
      color: #04be83;
      line-height: 30px;
      text-align: center;
      position: relative;
      left: 18%;
    }
  }
  .state{
    margin-bottom: 42px;
    margin-left: 12px;
    span{
      display: inline-block;
      font-size: 16px;
      line-height: 16px;
      margin-top: 12px;
      &:nth-child(2){
        margin-left: 222px;
      }
      &:nth-child(3){
        margin-left: 234px;
      }
      &:nth-child(4){
        margin-left: 254px;
      }
    }
  }

  .input-items{
    position: relative;
    height: 24px;
    margin-bottom: 20px;
    .inputTitle{
      display: inline-block;
      width: 90px;
      font-size: 15px;
      line-height: 24px;
    }
    input{
      font-size: 15px;
      display: inline-block;
      height: 24px;
      border: solid 1px rgba(220, 220, 220, 1);
      width: 220px;
      vertical-align: top;
      padding-left: 6px;
      box-sizing: border-box;
    }
    .phoneNum{
      font-size: 15px;
    }
    .captcha{
      cursor: pointer;
      margin-left: 7px;
      vertical-align: top;
    }
    .countDown{
      border-radius: 2px;
      border: solid 1px rgba(4, 190, 131, 1);
      width: 68px;
      height: 22px;
      font-size: 12px;
      background-color: #ffffff;
      color: #04be83;
      margin-left: 10px;
      cursor: pointer;
    }

    .error{
      display: none;
      top: 3px;
      left: 316px;
      position: absolute;
      i{
        background-image: url(../pic/index/error.png);
        width: 17px;
        height: 17px;
        display: inline-block;
      }
      span{
        line-height: 17px;
        vertical-align: top;
        font-size: 16px;
        color: #f54667;
        margin-left: 6px;
      }
    }
  }
  .next{
    margin-top: 220px;
    margin-left: 400px;
  }
  .next, .finish button{
    cursor: pointer;
    width: 200px;
    height: 50px;
    background-color: rgba(4, 190, 131, 1);
    font-size: 22px;
    color: #ffffff;
    padding: 0;
    border: 0;
  }
  .finish{
    margin: 200px 0 0 250px;
    display: none;
    .index{
      margin-right: 100px;
    }
  }
  .stepFourth{
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    margin-top: 60px;
  }
}

