.bread-wrapper {
  width: 100%;
  background: #e5e5e5;
}

.breadcrumb {
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 42px;
  width: 1158px;
}

.breadcrumb li {
  line-height: 42px;
  display: inline-block;
}

.breadcrumb>li+li:before {
  padding: 0 5px;
  color: #333333;
  content: ">";
}

.content{
  width: 1150px;
  padding: 52px 0 122px 0;
  margin: auto;
  .content-l{
    float: left;
    width: 660px;
    h1{
      margin-top: 0;
      font-size: 32px;
      font-weight: bolder;
      line-height: 32px;
      margin-bottom: 65px;
      color: #333;
    }
  }
  .content-r{
    font-size: 0;
    width: 490px;
    float: right;
    .agreementWrapper{
      overflow: hidden;
      padding-left: 124px;
      .checkbox{
        float: left;
        width: 15px;
      }
      .agreement{
        float: left;
        width: 300px;
        margin-top: 6px;
        margin-left: 8px;
        font-size: 17px;
        color: #333;
      }
    }
    .loginWay2{
      display: none;
    }
    .error{
      display: none;
      top: 44px;
      left: 125px;
      position: absolute;
      i{
        background-image: url(../pic/index/error.png);
        width: 17px;
        height: 17px;
        display: inline-block;
      }
      span{
        line-height: 17px;
        vertical-align: top;
        font-size: 16px;
        color: #f54667;
        margin-left: 6px;
      }
    }
    .switchLogin{
      margin-top: 95px;
      margin-bottom: 32px;
      font-size: 0;
      .phoneLogin{
        border-right: 0 !important;
      }
      .phoneLogin, .normalLogin{
        cursor: pointer;
        display: inline-block;
        height: 42px;
        width: 245px;
        background-color: rgba(229, 229, 229, 1);
        border: solid 1px rgba(194, 193, 193, 1);
        font-size: 18px;
        text-align: center;
        line-height: 42px;
        box-sizing: border-box;
        &.hover{
          color: #fffefe;
          background-color: rgba(4, 190, 131, 1);
        }
      }
    }
    .title{
      display: inline-block;
      font-size: 20px;
      line-height: 39px;
      width: 125px;
    }
    input{
      height: 39px;
      border: solid 1px rgba(194, 193, 193, 1);
      box-sizing: border-box;
      font-size: 16px;
      padding-left: 12px;
    }
    .phone input, .password input{
      width: 365px;
    }
    .code input{
      width: 188px;
    }
    .code button{
      vertical-align: bottom;
      margin: 1px 0 0 15px;
      border: 0;
      font-size: 18px;
      line-height: 39px;
      width: 162px;
      height: 39px;
      background-color: rgba(229, 229, 229, 1);
    }
    .phone, .code1 ,.password{
      position: relative;
      margin-bottom: 39px;
      img{
        cursor: pointer;
        width: 162px;
        height: 39px;
        vertical-align: top;
        margin-top: 1px;
        margin-left: 15px;
      }
    }
    .password{
      margin-bottom: 27px;
    }
    .code2{
      position: relative;
      margin-bottom: 27px;
    }
    .autoLogin{
      margin-left: 125px;
      font-size: 16px;
      margin-bottom: 9px;
      .check{
        cursor: pointer;
        display: inline-block;
        box-sizing: border-box;
        width: 15px;
        height: 15px;
        border: solid 1px rgba(194, 193, 193, 1);
        &.checked{
          background-image: url("../pic/index/check.png");
          background-size: 13px 13px;
        }
      }
      .forgetPw{
        color: #898787;
        float: right;
        cursor: pointer;
      }
      span{
        vertical-align: text-top;
        line-height: 16px;
        display: inline-block;
      }
    }
    .loginNow{
      cursor: pointer;
      color: #ffffff;
      margin-left: 125px;
      width: 364px;
      height: 38px;
      background-color: rgba(4, 190, 131, 1);
      font-size: 20px;
      text-align: center;
      line-height: 38px;
      border: 0;
    }
    .other{
      height: 30px;
      margin-left: 125px;
      margin-top: 17px;
      img{
        cursor: pointer;
        height: 30px;
        margin-right: 11px;
        -webkit-transition: .3s;
        -moz-transition: .3s ;
        -ms-transition: .3s ;
        -o-transition: .3s ;
        transition: .3s ;
        &:hover{
          transform: rotate(360deg) scale(1.1);
        }
      }
      .register{
        cursor: pointer;
        display: inline-block;
        font-size: 20px;
        line-height: 20px;
        float: right;
        margin-top: 10px;
        -webkit-transition: color .3s;
        -moz-transition: color .3s ;
        -ms-transition: color .3s ;
        -o-transition: color .3s ;
        transition: color .3s ;
        &:hover{
          color: #04be83;
        }
      }
    }
  }
}

