@charset "utf-8";

//头部开始------------------------------------
#header-wrapper .nav .logout {
  background: none;
  color: #fff;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

.animate-box {
  opacity: 0;
}

.pointer {
  cursor: pointer;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a:focus {
  outline: 0;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #fff;
  font-family: 'microsoft yahei';
}

a,
a:hover {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #04be83;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

ul,
li,
input,
ol,
dl,
dt,
dd,
h2 {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
}

input,
button {
  outline: none;
}

em,
i {
  font-style: normal;
}

.clearfix {
  display: block;
  *display: inline-block;
}

#header-wrapper{

  .nav {
    position: relative;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #04be83;
  }

  .nav .w {
    position: relative;
    float: right;
    height: 26px;
    margin-top: 12px;
    margin-right: 100px;
    color: #fff;
  }

  .nav a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 0 5px;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
  }

  .nav .t {
    float: left;
  }

  .nav .t0 {
    margin-right: 20px;
  }

  .nav .t2 a {
    display: block;
    width: 36px;
    height: 22px;
    overflow: hidden;
    background: url(../pic/reg-btn.fw.png) no-repeat 5px 3px;
    color: #04be83;
    text-align: center;
    padding-top: 2px;
  }

  .nav .t3 {
    margin: 0 10px;
  }

  .nav .t3 a {
    display: block;
    width: 24px;
    height: 21px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(../pic/wx-btn.fw.png) no-repeat 5px 2px;
    color: #04be83;
    text-align: center;
    padding-top: 2px;
  }

  .nav .t4 {
    margin-right: 10px;
  }

  .nav .t4 a {
    display: block;
    width: 24px;
    height: 19px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(../pic/wb-btn.fw.png) no-repeat 5px 1px;
    color: #04be83;
    text-align: center;
    padding-top: 2px;
  }

  .nav .t5 a {
    padding-right: 10px;
    background: url(../pic/arrow-down.fw.png) no-repeat right center;
  }

  .nav .t0 a:hover {
    border: #fff 1px solid;
    border-radius: 3px;
    padding: 3px;
  }

  .nav .t1 a:hover {
    color: #FFD000;
  }

  .nav .t2 a:hover {
    color: #FF7700;
  }

  .nav .navbox {
    position: absolute;
    top: 18px;
    z-index: 999;
    display: none;
  }

  .nav .navbox.hover {
    display: block;
  }

  .nav .navbox .arrow {
    width: 0;
    height: 0;
    border-width: 10px;
    border-color: transparent transparent white transparent;
    border-style: dashed dashed solid dashed;
    margin-left: 28px;
  }

  .nav .navbox .text {
    background: #fff;
    width: 200px;
    height: 200px;
    font-size: 24px;
    text-align: center;
    color: #2F3032;
    transition: .6s;
    &:hover{
      background-color: whitesmoke;
    }
  }

  .nav .navbox .text img {
    width: 100%;
    height: 100%;
  }

  .nav .navbox3 {
    right: 55px;
  }

  .nav .navbox3 .arrow {
    margin-left: 90px;
  }

  .nav .navbox4 {
    right: 13px;
  }

  .nav .navbox4 .arrow {
    margin-left: 90px;
  }

  .nav .navbox5 {
    right: -8px;
  }
  .nav .navbox5 .arrow {
    margin-left: 140px;
  }

  .nav .navbox5 .text {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
  }

  .nav .navbox5 .text a{
    color: #333;
    transition: .6s;
    display: block;
    &:hover{
      color: #04be83;
    }
  }

  .header {
    position: relative;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
  }

  .header .w {
    width: 1200px;
    height: 80px;
    margin: 0 auto;
  }

  .header .logo {
    width: 220px;
    height: 51px;
    margin-top: 6px;
    float: left;
  }

  .header ul.menu {
    float: left;
    margin-left: 60px;
  }

  .header ul.menu li {
    float: left;
    margin: 32px 9px 0 0;
    padding: 0 12px;
    font-size: 16px;
    font-weight: bold;
    height: 43px;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
  }

  .header ul.menu li a {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
  }

  .header ul.menu li:hover,
  .header ul.menu li.hover {
    border-bottom: #04be83 5px solid;
  }

  .header ul.menu li:hover > a,
  .header ul.menu li.hover > a {
    color: #04be83;
  }

  .header ul.menu li .dropdown_panel {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 210px;
    left: 0;
    top: 80px;
    box-shadow: 0 2px 10px #ccc;
    background: #fff;
    display: none;
    /*height: 0;*/
    overflow: hidden;
  }

  .header ul.menu li .dropdown_panel.p6 {
    /*display: none;*/
  }

  .header ul.menu li:hover .dropdown_panel {
    /*display: block;
    overflow: hidden;
    height: 210px;
    -webkit-transition: height .6s;
    -moz-transition: height .6s;
    -ms-transition: height .6s;
    -o-transition: height .6s;
    transition: height .6s;*/
  }

  .header ul.menu li .dropdown_panel .w {
    width: 1020px;
    height: 185px;
    margin: 25px auto 0;
  }

  .header ul.menu li .dropdown_panel .w0 {
    width: 1020px;
  }

  .header ul.menu li .dropdown_panel .w1 {
    width: 700px;
  }

  .header ul.menu li .dropdown_panel .w2 {
    width: 750px;
  }

  .header ul.menu li .dropdown_panel .w3 {
    width: 620px;
  }

  .header ul.menu li .dropdown_panel .w4 {
    width: 720px;
  }

  .header ul.menu li .dropdown_panel .w5 {
    width: 465px;
  }

  .header ul.menu li .dropdown_panel .w6 {
    width: 520px;
  }

  .header ul.menu li .dropdown_panel dt a {
    font-size: 15px;
    font-weight: bold;
  }

  .header ul.menu li .dropdown_panel dd a {
    font-size: 14px;
    font-weight: normal;
  }

  .header ul.menu li .dropdown_panel dd a em {
    color: #f00;
    padding: 0 2px 0 5px;
    font-weight: bold;
    font-style: normal;
  }

  .header ul.menu li .dropdown_panel .sliderbox {
    float: left;
    width: 350px;
    height: 140px;
    margin-left: 50px;
  }

  .header ul.menu li .dropdown_panel .sliderbox .left,
  .header ul.menu li .dropdown_panel .sliderbox .right {
    width: 45px;
    height: 140px;
    float: left;
  }

  .header ul.menu li .dropdown_panel .sliderbox .ico {
    width: 21px;
    height: 37px;
    margin: 51px 0 0 12px;
    background: url(../pic/dropdown-arrow.fw.png) no-repeat 0 0;
    cursor: pointer;
  }

  .header ul.menu li .dropdown_panel .sliderbox .right .ico {
    background-position: -100px 0;
  }

  .header ul.menu li .dropdown_panel .sliderbox .pic {
    float: left;
    width: 210px;
    height: 140px;
    overflow: hidden;
  }

  .header ul.menu li .dropdown_panel .banner {
    float: left;
    margin-left: 50px;
  }

  .header ul.menu li .dropdown_panel .banner a {
    display: block;
    width: 100%;
    height: 100%;
  }

  .header ul.menu li .dropdown_panel dl.city {
    float: left;
    width: 622px;
    height: 44px;
    margin-bottom: 15px;
    margin-right: 0;
  }

  .header ul.menu li .dropdown_panel dl.city dt {
    height: 44px;
    line-height: 44px;
    float: left;
  }

  .header ul.menu li .dropdown_panel dl.city dd {
    height: 44px;
    float: left;
    position: relative;
    margin-left: 20px;
  }

  .header ul.menu li .dropdown_panel dl.city dd img {
    display: block;
    width: 64px;
    height: 44px;
  }

  .header ul.menu li .dropdown_panel dl.city dd:hover img {
    box-shadow: 1px 1px 2px #999;
  }

  .header ul.menu li .dropdown_panel dl.city dd a {
    display: block;
    position: absolute;
    width: 64px;
    height: 20px;
    text-align: center;
    top: 0;
    left: 0;
    padding-top: 24px;
    color: #fff;
  }

  .header ul.menu li .dropdown_panel dl.city dd a:hover {
    color: #04be83;
  }

  .header ul.menu li .dropdown_panel dl {
    float: left;
    margin: 0 50px 0 0;
  }

  .header ul.menu li .dropdown_panel dt {
    margin-bottom: 15px;
  }

  .header ul.menu li .dropdown_panel dd {
    padding: 2px 0;
  }

  .header ul.menu li .dropdown_panel .w2 dt {
    margin-bottom: 10px;
  }

  .header ul.menu li .dropdown_panel .w5 dt {
    margin-bottom: 8px;
  }

  //.header ul.menu li .dropdown_panel .w5 dt a {
  //  font-weight: normal;
  //}

  .header ul.menu li .dropdown_panel .w6 .banner {
    float: left;
    margin-left: 0;
    margin-top: 20px;
  }

  .header .searchbox {
    float: left;
    margin: 18px 0 0 20px;
    width: 220px;
    height: 45px;
    background: #fff;
  }

  .header .searchbox .inputbox {
    float: left;
    width: 160px;
    height: 45px;
  }

  .header .searchbox input {
    display: block;
    width: 140px;
    height: 25px;
    line-height: 25px;
    margin: 10px 0 0 10px;
    font-size: 12px;
    color: #666;
  }

  .header .searchbox .btnbox {
    float: left;
    width: 53px;
    height: 35px;
    margin-top: 5px;
    border-left: #E5E5E5 2px solid;
  }

  .header .searchbtn {
    width: 45px;
    height: 35px;
    border: 0;
    background: url(../pic/search-btn.fw.png) no-repeat center center;
  }

  .header ul.menu li:last-child {
    margin-top: 24px;
  }

  .header ul.menu li .dropdown_panel.p6 {
    .searchInput {
      width: 382px;
      height: 34px;
      border: 1px solid #a0a0a0;
      text-indent: 16px;
      line-height: 34px;
      float: left;
      box-sizing: border-box;
      margin-top: 46px;
      text-align: left;
      color: #000;
    }
    .searchBtn {
      width: 84px;
      height: 34px;
      line-height: 34px;
      background: #0dba85;
      color: #fff;
      float: left;
      margin-top: 46px;
    }
  }

}

.bread-wrapper {
  width: 100%;
  background: #e5e5e5;
}

.breadcrumb {
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 42px;
  width: 1158px;
  font-size: 0;
}

.breadcrumb li {
  line-height: 42px;
  display: inline-block;
  font-size: 14px;
}

.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #333333;
  content: ">";
}

//尾部开始
#footer-wrapper {
  min-width: 1200px;
  height: 266px;
  background: #F5F5F5;
  padding-top: 70px;
  font-size: 0;
  .footerone {
    width: 120px;
    margin-right: 40px;
    .detailList:nth-child(4) {
      position: relative;
      &:hover {
        .QRcode {
          display: block;
        }
      }
      .QRcode {
        position: absolute;
        width: 177px;
        left: 2px;
        top: -192px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, .5);
        transition: 1s;
        display: none;
      }
    }
  }

  .footertwo {
    margin-right: 40px;
    width: 202px;
    .detailList:nth-child(4) {
      text-indent: 72px;
    }
  }

  .footerthree {
    width: 190px;
    margin-right: 40px;
  }


  .footerthree :last-child {
    margin-bottom: 0;
  }

  .BG{
    width: 1110px;
    margin: 0 auto;
    .footertfour {
      border: 0;
      margin-right: 38px;
    }
    .footerimg {
      width: 170px;
      border: 0;
      > img {
        display: block;
        width: 100%;
      }
    }
  }

}

#footer-wrapper .BG > div {
  display: inline-block;
  vertical-align: top;
  height: 180px;
  border-right: 1px solid #aaa;
}

#footer-wrapper .title {
  color: #333;
  font-size: 22px;
  font-weight: bolder;
  margin-bottom: 26px;
}

#footer-wrapper .detailList {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 14px;
  color: #424141;
}


//富文本
.editorCont {
  font-size: 16px;
  line-height: 30px;
  color:#444;
  img {
    width: 60%;
  }
}

.editorCont-14 {
  font-size: 14px !important;
  line-height: 24px !important;
  color:#444;
  text-align: justify;
}

body,html{
  min-width: 1200px;
}

//公用蒙层
.public-mask {
  display: none;
  position: absolute;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 366px;
  height: 79px;
  background-color: #ffffff;
  box-shadow: 0px 2px 5px 0px
  rgba(0, 0, 0, 0.16);
  border: solid 1px #04be83;
  .tip-text {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 76px;
    color: #424141;
    text-align: center;
  }
}